/***** BASE STYLES *****/

body { 
	width: 520px;
	height: 935px;
	border: 10px solid #538cc6;
	font-family: 'Kanit', sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}

span {
	font-family: 'Permanent Marker', cursive;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ff944d;
}

/***** COLUMNS *****/

#column-left {
	width: 260px;
	float: left;
}

#column-right {
	width: 260px;
	float: left;
}

/***** BOXES *****/

#large-box-one {
	border: 8px solid #ffe680;
	height: 315px;
	padding: 5px 10px;
	margin: 10px 5px 10px 10px;
}

#large-box-two {
	border: 8px solid #ffe680;
	height: 280px;
	padding: 5px 10px;
	margin: 10px 10px 10px 5px;
}

#left-small-one {
	border: 8px solid #ffe680;
	height: 160px;
	padding: 0 15px;
	margin: 10px 5px 10px 10px;
}

#left-small-two {
	border: 8px solid #ffe680;
	height: 150px;
	padding: 30px 10px 0 10px;
	margin: 10px 5px 10px 10px;
}

#left-small-three {
	border: 8px solid #ffe680;
	height: 135px;
	padding: 20px 10px 0 10px;
	margin: 10px 5px 10px 10px;
}

#right-small-one {
	border: 8px solid #ffe680;
	height: 185px;
	padding: 0 10px;
	margin: 10px 10px 10px 5px;
}

#right-small-two {
	border: 8px solid #ffe680;
	height: 185px;
	padding: 0 10px;
	margin: 10px 10px 10px 5px;
}

#right-small-three {
	border: 8px solid #ffe680;
	height: 160px;
	padding: 0 15px;
	margin: 10px 10px 10px 5px;
}